<% provide(:title, "Sign in") %>
<% provide(:heading, 'Sign in') %>
<div class="row">
  <div class="span6 offset3">
    <%= render :partial => 'shared/signin' %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
