<% provide(:title, 'About') %>
<% provide(:heading, 'About Money Management') %>
<p>Manage your accounts and expenditure by adding details of your spends, earnings and accounts with friends/roommates. Add your incoming sources, keep track of where you are spending and how much budget you have!</p>
