<% provide(:title, 'Help') %>
<% provide(:heading, 'Help with Money Management') %>

<p>Need help using Money Management?<br/>It is simple to use! Go to home page, login and enter details! <br/> For further details please contact devikanair@cmu.edu</p>
