<div class="center hero-unit">
  <h1>Welcome to Money Management</h1>

  <p>
    Manage your accounts and expenditure by adding details of your spends, earnings and accounts with friends/roommates
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>
