<div class="center hero-unit">
  <h1>Welcome to Money Management</h1>

  <p>
    Manage your accounts and expenditure by adding details of your spends, earnings and accounts with friends/roommates
  </p>
  <% if signed_in? %>
  <!--Put something nice in here that user would find useful -->
  <%else%>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
   <%end%>
</div>
